@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop {
  background-color: rgba(16, 16, 16, .6);
}

.card {
  @apply p-4 bg-white rounded-xl;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}


.btn-primary {
  @apply bg-black px-7 py-3 text-white rounded-sm
}


/* DIVIDERS */
.divider {
  display: flex;
  flex-direction: row;
}

.divider:before,
.divider:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  border-color: var(--dividerColor);
  margin: auto;
}

.divider:before {
  margin-right: 10px
}

.divider:after {
  margin-left: 10px
}