@tailwind base;
@tailwind components;
@tailwind utilities;

.backdrop {
  background-color: rgba(16, 16, 16, .6);
}

.card {
  @apply p-4 bg-white rounded-xl;
}

html,
body {
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
